<template>
  <require from="../../../commons/workspaces-menu/workspace-favourite"></require>
  <require from="../query-builder/query-builder"></require>

  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between col-12">
    <span class="navbar-brand mb-0 h1">Companies</span>

    <workspace-favourite class="float-left mx-2"></workspace-favourite>

    <button type="button" class="btn btn-outline-dark" data-toggle="modal" href="#addCompany">
      <i class="fa fa-plus"></i>
      New company
    </button>

    <div class="form-inline col-6">
      <input class="form-control" type="search" placeholder="Search..." aria-label="Search"
             style="width:100%" value.bind="searchInput" change.delegate="search()">
    </div>

    <!-- TODO: Add js from resource-list.js -->
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" href="#filterModal">
      Filter
    </button>

    <button type="button" class="btn btn-outline-dark" data-toggle="modal" href="#uploadCompanies">
      Import contacts
    </button>
  </nav>

  <div class="modal fade" id="filterModal" tabindex="1" role="dialog" aria-labelledby="filterModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="width: unset">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="nav-add-subscriber">
            <div style="display: flex; justify-content: center" class="query-builder-div">
              <query-builder></query-builder>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" click.delegate="applyFilter()"
                      data-dismiss="modal">Filter
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="dropdown float-right">
      <div class="modal fade" id="uploadCompanies" tabindex="-1" role="dialog" aria-labelledby="uploadCompanies"
           aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="uploadModalLabel">Import Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form" id="importForm">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Year</label>
                  <input type="text" class="form-control" id="year" value.bind="year">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Quarter</label>
                  <select class="form-control" name="quarter" id="selectQuarter">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Upload a file</label>
                  <input id="uploadFile" type="file">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" click.delegate="csvJSON()"
                          data-dismiss="modal">Import
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
