<template>
  <span class="border">
    <div class="col-md-10 my-5 mx-auto">
        <div>
            <span if.bind="!canEdit" style="font-size: 20pt; font-weight: 600">${ company.groupName }</span>
            <input if.bind="canEdit" type="text" class="form-control" style="font-size: 20pt; font-weight: 600" value.bind="company.groupName">
        </div>
      <hr>
      <div class="mt-3">
        <h5>General data</h5>
      </div>
      <div class="row-marketdata" display="table">
        <div class="column-marketdata">
            <dt class="font-weight-light">REGISTRATION CODE</dt>
            <div style="margin: 0 30px 30px 0">
                <span if.bind="!canEdit">${ company.partyId }</span>
                <span if.bind="canEdit">${ company.partyId }</span>
              <!-- <input if.bind="canEdit" type="text" class="form-control" value.bind="company.partyId"> -->
            </div>
            <dt class="font-weight-light">EMPLOYEE COUNT</dt>
            <div style="margin: 0 30px 30px 0">
                <span if.bind="!canEdit">${ company.numEmployees }</span>
                <input if.bind="canEdit" type="text" class="form-control" value.bind="company.numEmployees">
            </div>
            <dt class="font-weight-light">REGION</dt>
            <div style="margin: 0 30px 30px 0">
                <span if.bind="!canEdit">${ company.officeSiteName }</span>
                <input if.bind="canEdit" type="text" class="form-control" value.bind="company.officeSiteName">
            </div>
            <dt class="font-weight-light">REVENUE</dt>
            <div style="margin: 0 30px 30px 0">
                <span if.bind="!canEdit">${ company.annualRevenue }</span>
                <input if.bind="canEdit" type="text" class="form-control" value.bind="company.annualRevenue">
            </div>
            <dt class="font-weight-light">BUSINESS STAGE</dt>
            <div style="margin: 0 30px 30px 0">
                <span if.bind="!canEdit"></span>
                <select if.bind="canEdit" class="form-control" id="sel1">
                  <option>Idea stage</option>
                  <option>MVP/Seed stage</option>
                  <option>Product-market fit</option>
                  <option>Scaling stage</option>
                </select>
            </div>
        </div>
        </div>
      <div>
        <button type="button" class="btn btn-dark float-left mr-3" click.delegate="updateCompany()">${value}</button>
        <button type="button" class="btn btn-dark float-left mr-3" data-toggle="modal"
                href="#deleteCompany">${close}</button>
      </div>
      <div if="true">
        <div style="margin: 70px 0px 0px 0">
          <h5>Registrated addresses</h5>
            <table class="table table-bordered shadow-sm p-3 mb-5 bg-white rounded"
                   aurelia-table="data.bind: address; display-data.bind: $displayAddress">
              <thead>
                <tr>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <tr repeat.for="address of $displayAddress">
                    <td>${address._toOne_PostalAddress.address1} ${address._toOne_PostalAddress.houseNumber} - ${address._toOne_PostalAddress.houseNumberExt}, ${address._toOne_PostalAddress.city}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

      <div style="margin: 30px 0px 0px 0">
      <h5>Annual revenue</h5>
        <table class="table table-bordered shadow-sm p-3 mb-5 bg-white rounded"
               aurelia-table="data.bind: companyTimeperiodInfo; display-data.bind: $displayData">
          <thead>
          <tr>
            <th>Year</th>
            <th>Quarter</th>
            <th>Month</th>
            <th>Number of Employees</th>
            <th>Revenue</th>
            <th>State Taxes</th>
            <th>Workforce Taxes</th>
            <th>Database</th>
            <th>Import date</th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="companyTimeperiodInfo of $displayData">
            <td>${companyTimeperiodInfo.year_}</td>
            <td>${companyTimeperiodInfo.quarter}</td>
            <td>${companyTimeperiodInfo.month_}</td>
            <td>${companyTimeperiodInfo.numberOfEmployees}</td>
            <td>${companyTimeperiodInfo.revenue}</td>
            <td>${companyTimeperiodInfo.stateTaxes}</td>
            <td>${companyTimeperiodInfo.workforceTaxes}</td>
            <td>${companyTimeperiodInfo.sourceOfData}</td>
            <td>${importDate}</td>
        </tr>
        </tbody>
        </table>
    </div>

      <div style="margin: 30px 0px 0px 0">
        <table class="table table-bordered shadow-sm p-3 mb-5 bg-white rounded"
               aurelia-table="data.bind: companyTimeperiodInfo; display-data.bind: $displayData">
          <thead>
          <tr>
            <th>Year</th>
            <th>Average Number of Employees</th>
            <th>Total Revenue</th>
        </tr>
        </thead>
        <tbody>
        <tr for="companyTimeperiodInfo of $displayData">
            <td>${year}</td>
            <td>${avgEmployees}</td>
            <td>${totalRevenue}</td>
        </tr>
        </tbody>
        </table>
    </div>

      <div style="margin: 30px 0px 0px 0">
      <h5>Related persons</h5>
        <table class="table table-bordered shadow-sm p-3 mb-5 bg-white rounded"
               aurelia-table="data.bind: persons; display-data.bind: $displayPersons">
          <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="persons of $displayPersons">
            <td>${persons[0].firstName}</td>
            <td>${persons[0].lastName}</td>
        </tr>
        </tbody>
        </table>
    </div>
    </div>
  </span>

  <div class="col-12">
    <div class="dropdown float-left">
      <div class="modal fade" id="deleteCompany" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete company</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form" id="opportunityForm">
                <div class="form-group">
                  <label class="col-form-label">Are you sure you want to delete "${ company.groupName }" from
                    database?</label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" click.delegate="deleteCompany()" data-dismiss="modal">
                    Delete
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
