<template>
  <span class="border">
    <div class="col-md-10 my-5 mx-auto">
      <div>
      <h3>${company.companyName}</h3>
      </div>
      <hr>
      <div class="mt-3">
        <h5>About</h5>
      </div>
      <div class="row-marketdata" display="table">
        <div class="column-marketdata">
            <dt class="font-weight-light">REGISTRATION CODE</dt>
            <dt class="font-weight-normal" style="margin: 0 0 30px 0">${company.registryCode}</dt>
            <dt class="font-weight-light">EMPLOYEE COUNT</dt>
            <dt class="font-weight-normal" style="margin: 0 0 30px 0">${company.employeeCount}</dt>
        </div>
        <div class="column-marketdata">
            <dt class="font-weight-light">ADDRESS</dt>
            <dt class="font-weight-normal" style="margin: 0 0 30px 0">${company.companyAddress}</dt>
            <dt class="font-weight-light">STATUS</dt>
            <dt class="font-weight-normal" style="margin: 0 0 30px 0">${company.companyStatus}</dt>
        </div>
        <div class="column-marketdata">
            <dt class="font-weight-light">SECTOR</dt>
            <dt class="font-weight-normal" style="margin: 0 0 30px 0">-</dt>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" style="margin: 1% 1% 1% 0%"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-secondary" style="margin: 0 0 0 0"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </span>
</template>
